<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.ne.poropi.launchtest">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StandardTop"
            android:label="StandardTop"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="launchtest.rl"
                    android:pathPrefix="/standard"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingletaskTop"
            android:label="SingletaskTop"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="launchtest.rl"
                    android:pathPrefix="/singletask"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingletopTop"
            android:label="SingletopTop"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="launchtest.rl"
                    android:pathPrefix="/singletop"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingleinstanceTop"
            android:label="SingleinstanceTop"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="launchtest.rl"
                    android:pathPrefix="/singleinstance"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StandardNext"
            android:label="StandardNext"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SingletaskNext"
            android:label="SingletaskNext"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SingletopNext"
            android:label="SingletopNext"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SingleinstanceNext"
            android:label="SingleinstanceNext"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.UIOverlayService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>